body {
    margin:0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #424242;
}
hr {
    margin: 0;
}
a {
    text-decoration: none;
}
table {
    width: 100%;
    border-collapse: collapse;
}
.responsive-table {
    overflow-x: auto;
    width: 100%;
}
th {
    height: 50px;
    background-color: rgba(19, 136, 229, 0.73);
    color: #ffffff;
    font-weight: 400;
    text-transform: uppercase;
}
td {
    text-align: center;
}
table, th, td {
    border: 1px solid rgba(0, 0, 0, 0.17);
}
header.desktop-header {
    width: 100%;
    height: 64px;
    background-color: rgba(19,136,229,1);
   /* background: -moz-linear-gradient(45deg, rgba(19,136,229,1) 0%, rgba(35,213,244,1) 100%); !* ff3.6+ *!
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(19,136,229,1)), color-stop(100%, rgba(35,213,244,1))); !* safari4+,chrome *!
    background: -webkit-linear-gradient(45deg, rgba(19,136,229,1) 0%, rgba(35,213,244,1) 100%); !* safari5.1+,chrome10+ *!
    background: -o-linear-gradient(45deg, rgba(19,136,229,1) 0%, rgba(35,213,244,1) 100%); !* opera 11.10+ *!
    background: -ms-linear-gradient(45deg, rgba(19,136,229,1) 0%, rgba(35,213,244,1) 100%); !* ie10+ *!
    background: linear-gradient(45deg, rgba(19,136,229,1) 0%, rgba(35,213,244,1) 100%); !* w3c *!
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#23D5F4', endColorstr='#1388E5',GradientType=1 ); !* ie6-9 *!*/
    position: relative;
}
.container {
    width: 1224px;
    position: relative;
    height: 100%;
    margin: 0 auto;
}
.row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: -16px;
    margin-right: -16px;
}
.logo-sitename > div {
    display: flex;
    align-items: center;
}
.logo-desktop {
    width: 100%;
    height: 60px;
    border-radius: 50%;
    position: relative;
    margin: 2px 0;
    padding: 0 !important;
    flex: 0 0 15% !important;
}
.logo-desktop img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.site-branding {
    position: relative;
    width: 100%;
    height: 100%;
}
.site-name {
    position: relative;
    font-size: 24px;
    color: #ffffff;
}
.spacer {
    width: 100%;
    height: 100%;
    position: relative;
}
.main-navigation > div {
    display: flex;
    align-items: center;
}
header.desktop-header .navigation-menu,header.desktop-header .menu-base-theme {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}
li {
    list-style: none;
}
header.desktop-header .navigation-menu li a,header.desktop-header .menu-base-theme li a {
    color: #ffffff;
    text-transform: uppercase;
    line-height: 64px;
    display: inline-block;
    padding: 0 16px;
    position: relative;
}
header.desktop-header .navigation-menu li a::before,header .navigation-menu li a::after, header.desktop-header .menu-base-theme li a::before, header.desktop-header .menu-base-theme li a::after {
    content: '';
    position: absolute;
    width : 0;
    border-bottom: 3px solid #ffffff;
    height: 0;
    transition: all 0.5s ease;
    bottom: 0;
}
header.desktop-header .navigation-menu li a::before, header.desktop-header .menu-base-theme li a::before {
    left: 50%;
}
header.desktop-header .navigation-menu li a::after, header.desktop-header .menu-base-theme li a::after {
    right: 50%;
}
header.desktop-header .navigation-menu li a:hover, header.desktop-header .menu-base-theme li a:hover {
    background-color: rgba(255, 255, 255, 0.25);
}
header.desktop-header .navigation-menu li a:hover::before,header.desktop-header .navigation-menu li a:hover::after, header.desktop-header .menu-base-theme li a:hover::before,  header.desktop-header .menu-base-theme li a:hover::after{
    width: 50%;
    visibility: visible;
}
.color-white {
    color: #ffffff;
}
.jumbotron {
    width: 100vw;
    height: 200px;
    position: relative;
    background: -moz-linear-gradient(180deg, rgba(19,136,229,1) 0%, rgb(40, 168, 244) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(19,136,229,1)), color-stop(100%, rgb(40, 168, 244))); /* safari4+,chrome */
    background: -webkit-linear-gradient(180deg, rgba(19,136,229,1) 0%, rgb(40, 168, 244) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(180deg, rgba(19,136,229,1) 0%, rgb(40, 168, 244) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(180deg, rgba(19,136,229,1) 0%, rgb(40, 168, 244) 100%); /* ie10+ */
    background: linear-gradient(180deg, rgba(19,136,229,1) 0%, rgb(40, 168, 244) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#23D5F4', endColorstr='#1388E5',GradientType=1 ); /* ie6-9 */
}
.content {
    width: 100vw;
    position: relative;
}
.content .main-page-content {
    background-color: #ffffff;
    padding: 16px;
    height: auto;
    min-height: 300px;
}
.page-title-layout {
    position: absolute;
    min-width: 200px;
    height: auto;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    bottom: 50%;
    text-align: center;
}
.page-title{
    margin: 0;
    color: #ffffff;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
}

.views-exposed-form {
    position: relative;
    margin: 16px 0;
}
.js-form-item, #user-login-form .js-form-item{
    width: calc(50% - 32px);
    display: block;
    float: left;
    position: relative;
    padding: 16px 0;
    box-sizing: border-box;
    margin: 0 16px 16px 16px;
}
#user-login-form .js-form-item{
    width: 100%;
}
#user-login-form .description {
    display: none;
}
.js-form-item label {
    position: absolute;
    bottom: 0;
    top: 1px;
    z-index: 1;
    border-bottom: 1px solid rgba(208,41,46, 0.12);
    width: 100%;
    padding: 16px;
    color: rgb(200, 200, 200);
    box-sizing: border-box;
}
.js-form-item label::before,
.js-form-item label::after{
    content: '';
    position: absolute;
    width : 0;
    border-bottom: 1px solid #45A3F2;
    height: 0;
    transition: all 0.5s ease;
    bottom: 0;
}
.js-form-item label::before {
    left: 50%;
}
.js-form-item label::after {
    right: 50%;
}
.js-form-item.is-focused label::after, .js-form-item.is-focused label::before {
    width: 50%;
    visibility: visible;
}
.js-form-item.is-dirty label {
    top: -30px;
    color: #424242;
}
input[type=text], input[type=password]{
    width: 100%;
    padding-left: 16px;
    position: relative;
    border:none;
    font-size: 12px;
}
input[type=text]:focus, .js-form-item label:focus,
.js-form-item:hover,
form[id^='views-'] .js-form-wrapper select:focus,
input[type=password]:focus{
    outline: none;
}
.button {
    padding: 13px;
    background-color: #45A3F2;
    -webkit-appearance: button;
    -moz-appearance:button;
    border: none;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    margin: 10px 10px 10px 0;
}
form[id^='views-'] .js-form-wrapper select {
    width: 100%;
    height: 30px;
    margin: 10px 0;
    border: none;
    border-bottom: 1px solid rgba(208,41,46, 0.12);
    background-color: transparent;
    font-size: 12px;
}
#user-login-form {
    width: 500px;
    margin: 10px auto;
}
@media (min-width: 1200px) {
    .col-md-1 {
        width: 8.33333%;
        flex: 0 0 8.33333%;
        padding: 0 16px; }
    .col-md-2 {
        width: 16.66667%;
        flex: 0 0 16.66667%;
        padding: 0 16px; }
    .col-md-3 {
        width: 25%;
        flex: 0 0 25%;
        padding: 0 16px; }
    .col-md-4 {
        width: 33.33333%;
        flex: 0 0 33.33333%;
        padding: 0 16px; }
    .col-md-5 {
        width: 41.66667%;
        flex: 0 0 41.66667%;
        padding: 0 16px; }
    .col-md-6 {
        width: 50%;
        flex: 0 0 50%;
        padding: 0 16px; }
    .col-md-7 {
        width: 58.33333%;
        flex: 0 0 58.33333%;
        padding: 0 16px; }
    .col-md-8 {
        width: 66.66667%;
        flex: 0 0 66.66667%;
        padding: 0 16px; }
    .col-md-9 {
        width: 75%;
        flex: 0 0 75%;
        padding: 0 16px; }
    .col-md-10 {
        width: 83.33333%;
        flex: 0 0 83.33333%;
        padding: 0 16px; }
    .col-md-11 {
        width: 91.66667%;
        flex: 0 0 91.66667%;
        padding: 0 16px; }
    .col-md-12 {
        width: 100%;
        flex: 0 0 100%;
        padding: 0 16px; }
    .mobile-header,.mobile-header-content {
        display: none;
    }
}

@media (min-width: 600px) and (max-width: 1199px) {
    .col-sm-1 {
        width: 8.33333%;
        flex: 0 0 8.33333%;
        padding: 0 16px; }
    .col-sm-2 {
        width: 16.66667%;
        flex: 0 0 16.66667%;
        padding: 0 16px; }
    .col-sm-3 {
        width: 25%;
        flex: 0 0 25%;
        padding: 0 16px; }
    .col-sm-4 {
        width: 33.33333%;
        flex: 0 0 33.33333%;
        padding: 0 16px; }
    .col-sm-5 {
        width: 41.66667%;
        flex: 0 0 41.66667%;
        padding: 0 16px; }
    .col-sm-6 {
        width: 50%;
        flex: 0 0 50%;
        padding: 0 16px; }
    .col-sm-7 {
        width: 58.33333%;
        flex: 0 0 58.33333%;
        padding: 0 16px; }
    .col-sm-8 {
        width: 66.66667%;
        flex: 0 0 66.66667%;
        padding: 0 16px; }
    .col-sm-9 {
        width: 75%;
        flex: 0 0 75%;
        padding: 0 16px; }
    .col-sm-10 {
        width: 83.33333%;
        flex: 0 0 83.33333%;
        padding: 0 16px; }
    .col-sm-11 {
        width: 91.66667%;
        flex: 0 0 91.66667%;
        padding: 0 16px; }
    .col-sm-12 {
        width: 100%;
        flex: 0 0 100%;
        padding: 0 16px; }
    .container {
        width: 100vw;
    }
    .mobile-header {
        width: 100vw;
        position: absolute;
        z-index: 1;
    }
    .mobile-close-drawer {
        width: 100vw;
        height: 100vh;
        position: fixed;
        z-index: 2;
        display: none;
    }
    .mobile-header-content {
        width: 250px;
        height: 100vh;
        position: fixed;
        z-index: 3;
        background-color: #ECECEC;
        -webkit-transform: translateX(-290px);
        transform: translateX(-290px);
        transform-style: preserve-3d;
        will-change: transform;
        transition-duration: .4s;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-property: transform;
    }
    header.desktop-header {
        display: none;
    }
    .logo-mobile {
        width: 150px;
        height: 150px;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        top: 0;
        bottom: 0;
    }
    .logo-mobile-layout {
        width: 100%;
        height: 200px;
        position: relative;
    }
    .logo-mobile img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    .mobile-header-menu {
        background-color: #ffffff;
        width: 100%;
        height: 100vh;
    }
    .mobile-header-menu li {
        padding: 16px 0;
        text-transform: uppercase;
    }
    .mobile-header-menu ul {
        margin: 0;
    }
    .menu-base-theme li a, .navigation-menu li a {
        color: rgba(19,136,229,1);
    }
    .mobile-header .row {
        width: 100%;
        margin: 0;
        justify-content: flex-start;
    }
    .mobile-header .row .col-xs-2 {
        padding: 0;
    }
    .mobile-header .row .col-xs-8 {
        padding: 0;
    }
    .logo-header-mobile {
        width: 100%;
        height: 80px;
        border-radius: 50%;
        position: relative;
        margin: 4px 0;
        padding: 0 !important;
    }
    .logo-header-mobile img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    .site-name-mobile {
        width: 100%;
        color: #fff;
        position: relative;
        font-size: 19px;
        height: 66px;
        padding: 0;
        line-height: 66px;
    }
    .page-title-layout {
        bottom: 10%;
    }
    .page-title {
        font-size: 24px;
    }
}

@media (max-width: 599px) {
    .col-xs-1 {
        width: 8.33333%;
        flex: 0 0 8.33333%;
        padding: 0 16px; }
    .col-xs-2 {
        width: 16.66667%;
        flex: 0 0 16.66667%;
        padding: 0 16px; }
    .col-xs-3 {
        width: 25%;
        flex: 0 0 25%;
        padding: 0 16px; }
    .col-xs-4 {
        width: 33.33333%;
        flex: 0 0 33.33333%;
        padding: 0 16px; }
    .col-xs-5 {
        width: 41.66667%;
        flex: 0 0 41.66667%;
        padding: 0 16px; }
    .col-xs-6 {
        width: 50%;
        flex: 0 0 50%;
        padding: 0 16px; }
    .col-xs-7 {
        width: 58.33333%;
        flex: 0 0 58.33333%;
        padding: 0 16px; }
    .col-xs-8 {
        width: 66.66667%;
        flex: 0 0 66.66667%;
        padding: 0 16px; }
    .col-xs-9 {
        width: 75%;
        flex: 0 0 75%;
        padding: 0 16px; }
    .col-xs-10 {
        width: 83.33333%;
        flex: 0 0 83.33333%;
        padding: 0 16px; }
    .col-xs-11 {
        width: 91.66667%;
        flex: 0 0 91.66667%;
        padding: 0 16px; }
    .col-xs-12 {
        width: 100%;
        flex: 0 0 100%;
        padding: 0 16px; }
    .container {
        width: 100%;
    }
    .mobile-header {
        width: 100vw;
        position: absolute;
        z-index: 1;
    }
    .mobile-close-drawer {
        width: 100vw;
        height: 100vh;
        position: fixed;
        z-index: 2;
        display: none;
    }
    .mobile-header-content {
        width: 250px;
        height: 100vh;
        position: fixed;
        z-index: 3;
        background-color: #ECECEC;
        -webkit-transform: translateX(-290px);
        transform: translateX(-290px);
        transform-style: preserve-3d;
        will-change: transform;
        transition-duration: .4s;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-property: transform;
    }
    header.desktop-header {
        display: none;
    }
    .logo-mobile {
        width: 150px;
        height: 150px;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        top: 0;
        bottom: 0;
    }
    .logo-mobile-layout {
        width: 100%;
        height: 200px;
        position: relative;
    }
    .logo-mobile img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    .mobile-header-menu {
        background-color: #ffffff;
        width: 100%;
        height: 100vh;
    }
    .mobile-header-menu li {
        padding: 16px 0;
        text-transform: uppercase;
    }
    .mobile-header-menu ul {
        margin: 0;
    }
    .menu-base-theme li a, .navigation-menu li a {
        color: rgba(19,136,229,1);
    }
    .mobile-header .row {
        width: 100%;
        margin: 0;
        justify-content: flex-start;
    }
    .mobile-header .row .col-xs-2 {
        padding: 8px 8px 0 8px;
    }
    .mobile-header .row .col-xs-8 {
        padding: 8px 8px 0 8px;
    }
    .logo-header-mobile {
        width: 100%;
        height: 62px;
        border-radius: 50%;
        position: relative;
        margin: 2px 0;
        padding: 0 !important;
    }
    .logo-header-mobile img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    .site-name-mobile {
        width: 100%;
        color: #fff;
        position: relative;
        font-size: 19px;
        height: 66px;
        padding: 16px;
    }
    .page-title-layout {
        bottom: 10%;
    }
    .page-title {
        font-size: 24px;
    }
    .views-view-grid.horizontal .col-xs-12 {
        width: 100% !important;
        padding: 16px 0 !important;
        flex: 0 !important;
    }
    .views-exposed-form .js-form-item {
        width: 100%;
        margin: 10px 0;
    }
    .views-exposed-form input[type=text] {
        width: 100%;
        padding: 0;
    }
    .views-exposed-form .js-form-item label {
        width: 100%;
        padding: 0;
    }
}